.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "Header Header Header Header""leftcontent leftcontent leftcontent leftcontent""rightcontent rightcontent rightcontent rightcontent""Footer Footer Footer Footer";
}

.wrapper {
	overflow: visible;
	height: 210px;
	width: 100%;
}


#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}

#labelgym,
#gyminput,
#gyminputbutton,
#activityentryform {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	font-style: italic;
}

input[type=text] {
	border-radius: 10%;
}

#activityList li {
	font-size: 15px;
	margin: 100px;
	border: 1px solid black;
	background-color: white;
}

.Header {
	grid-area: Header;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.Header img {
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	border-radius: 25px;
}

#loginForm {
	display: inline;
	z-index: 0;
	text-align: right;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 13px;
	padding: 2px 2px 2px 2px;
}

.leftcontent {
	grid-area: leftcontent;
	display: table-cell;
	float: left;
	width: 100%;
}

.rightcontent {
	grid-area: rightcontent;
	background-color: rgba(211, 211, 211, 0.541);
	border: thick double rgb(54, 54, 54);
	width: 100%;
	z-index: -1;
}

.Footer {
	grid-area: Footer;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: 50px;
}

#gymRoutineHeader {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#activityList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 1%;
	height: 75px;
}

/* banner styling for cookies */
.cookie-banner {
	text-align: center;
	position: fixed;
	bottom: 40px;
	left: 10%;
	right: 10%;
	width: 80%;
	padding: 5px 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* the close/add button in the list items */

.close,
.add {
	height: 20px;
	background-color: #777;
	border: none;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}

.close {
	margin-left: 5px;
}

.add {
	margin-left: 40px;
}

.close:hover {
	background-color: red;
}

.add:hover {
	background-color: lightgreen;
}

/* changing the nav bar on scroll*/

.navbartop {
	overflow: hidden;
	background-color: rgba(167, 163, 163, 0.418);
	width: 110px;
	border-radius: 5%;
	left: 10px;
	position: fixed;
	z-index: 1;
	top: 10px;
}

.navbartop a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbartop a:hover {
	background-color: rgb(122, 121, 121);
	color: black;
}

.navbartop a.active {
	background-color: #4c90af;
	color: white;
}