.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Header Header Header Header" "leftcontent leftcontent rightcontent rightcontent" "Footer Footer Footer Footer";
}

.wrapper{
	overflow: visible;
	height: 210px;
}

.Header { grid-area: Header;}

.Header img{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	z-index: -1;
	border-radius: 25px;
}

#loginForm{
	display:inline;
	z-index: 0;
	text-align: right;
  	position: fixed;
  	top: 0;
  	right: 0;
  	width: 300px;
  	font-size: 13px;
  	padding: 2px 2px 2px 2px;
}

.leftcontent { grid-area: leftcontent;
	background-color: green;}

.rightcontent { grid-area: rightcontent;
	background-color: yellow;}

.Footer { grid-area: Footer;
	background-color: blue;
  height: 50px;}
